{% extends 'base.html' %}

{% block title %}Sezony i Zespoły{% endblock %}

{% block content %}
    <h1>Klasyfikacja Premier League od 1993</h1>
    <div class="button-section left-section">
        <form method="GET" action="{% url 'seasons_teams' %}">
            <label for="season">Sezon:</label>
            <input type="text" id="season" name="season">
            <button type="submit">Szukaj</button>
        </form>
        <form method="GET" action="{% url 'seasons_teams' %}">
            <label for="team">Zespołu:</label>
            <input type="text" id="team" name="team" value="{{ selected_team }}">
            <button type="submit">Szukaj</button>
        </form>
        <div class="button-section">
            <a href="{% url 'seasons_teams' %}">
                <button class="central-button">Cała klasyfikacja</button>
            </a>
        </div>
    </div>

    <div class="button-section right-section">
        <div class="button-label">
            <label for="add-team-button"></label>
            <a class="add-team-button" href="{% url 'add_team_in_season' %}">
                <button id="add-team-button" class="central-button">Dodaj drużynę</button>
            </a>
        </div>
        {% if user.is_authenticated %}
            <div class="button-section right-section">
                <label for="logout-button"></label>
                <a href="{% url 'logout' %}">
                    <button id="logout-button" class="central-button">Wyloguj się</button>
                </a>
            </div>
        {% endif %}
        {% if user.is_anonymous %}
            <div class="button-section right-section">
                <label for="home-button"></label>
                <a href="{% url 'home' %}">
                    <button id="home-button" class="central-button">Powrót</button>
                </a>
            </div>
        {% endif %}
    </div>


    <table>
        <thead>
        <tr>
            <th>Sezon</th>
            <th>Zespół</th>
            <th>Szczegóły</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.season_End_Year }}</td>
                <td>{{ team.team }}</td>
                <td class="details-cell"><a href="{% url 'team_details' team_id=team.id %}">Szczegóły</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if teams.has_previous %}
                <a href="?{{ request.GET.urlencode }}&page=1">&laquo; pierwsza</a>
                <a href="?{{ request.GET.urlencode }}&page={{ teams.previous_page_number }}">poprzednia</a>
            {% endif %}

            <span class="current">
                Strona {{ teams.number }} z {{ teams.paginator.num_pages }}.
            </span>

            {% if teams.has_next %}
                <a href="?{{ request.GET.urlencode }}&page={{ teams.next_page_number }}">następna</a>
                <a href="?{{ request.GET.urlencode }}&page={{ teams.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

